* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.navbar {
	backdrop-filter: blur(5px);
	background-color: rgb(255, 255, 255, 0.6);
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 15px 35px 3px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: 0px 15px 35px 3px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 15px 35px 3px rgba(0, 0, 0, 0.21);
	height: 2vw;
	padding: 3vh 10vw;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav a {
	color: black;
	padding-left: 3vw;
}

.content {
	height: 100vh;
	background: url("../assets/img/background.jpeg") black;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	object-fit: cover;
}

.body {
	padding: 5vh 10vw;
}

.produk {
	padding-top: 5vh;
	display: flex;
	justify-content: space-between;
}

.daftarharga {
	padding-top: 5vh;
	display: flex;
	justify-content: center;
}

.item {
	backdrop-filter: blur(5px);
	border-radius: 20px;
	padding: 30px;
	background-color: rgb(255, 255, 255, 0.6);
	border: 0.5px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 15px 35px 3px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: 0px 15px 35px 3px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 15px 35px 3px rgba(0, 0, 0, 0.21);
}

.item img {
	width: 20vw;
	height: 40vh;
	object-fit: cover;
	margin-bottom: 20px;
	border-radius: 10px;
}

.item h2 {
	font-size: 20pt;
}

.item h1 {
	margin-bottom: 20px;
}

.item table {
	width: 50vw;
	border: 0.5px solid #fff;
}

.item table.harga th,
td {
	padding: 10px;
	font-size: 15pt;
	text-align: center;
}

.deskripsi {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.deskripsi div {
	padding: 20px;
}

.deskripsi h3 {
	font-size: 15pt;
	margin-bottom: 10px;
}

.deskripsi p {
	font-size: 12pt;
}

.form,
.resi {
	display: flex;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

form .isian {
	width: 33vw;
}

.form-control {
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.form-control label {
	width: 11vw;
	font-size: 14pt;
}

.form-control .input {
	margin-left: 20px;
	width: 15vw;
}

.input input[type="text"],
#nomor_identitas,
#harga_kamar,
input[type="number"],
input[type="date"],
select {
	width: 100%;
	padding: 10px 10px;
	border-radius: 10px;
	border: 0.5px solid rgb(90, 90, 90);
	font-size: 12pt;
}

#durasi_menginap {
	width: 20%;
	margin-right: 5px;
}

input:read-only {
	background-color: rgb(214, 213, 213);
}

.input input[type="radio"],
input[type="checkbox"] {
	margin-right: 5px;
	margin-left: 10px;
	width: 2vh;
}

.tombol {
	display: flex;
	flex-direction: column;
}

button,
.button {
	padding: 10px 30px;
	margin-bottom: 20px;
	cursor: pointer;
	border-radius: 15px;
	border: 1px solid rgb(218, 218, 218);
	color: #fff;
	font-size: 12pt;
}

button[type="button"],
.button {
	background-color: rgb(61, 164, 233);
}

button[type="submit"] {
	background-color: rgb(73, 226, 132);
}

button[type="reset"] {
	background-color: rgb(212, 33, 33);
}

.item table.hasil tr td {
	text-align: left;
}

.item table.hasil {
	margin-bottom: 20px;
}

.hasil .bold {
	font-weight: 600;
}
